
<link href="~/Content/themes/fotter.css" rel="stylesheet" />

<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Villa<span>Apartment</span></h3>

        <p class="footer-links">
            <a href="#" class="link-1">Trang Chủ</a>

            <a href="#">Đặt Phòng</a>

            <a href="#">Tin Tức</a>

            <a href="#">Liên hệ</a>

        </p>
        <p class="footer-company-name">Villa Apartment © 2002</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>828 Sư Vạn Hạnh</span> Quận 10, Thành Phố Hồ Chí Minh</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+84 0883719028</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:uwuteamvila@company.com">uwuteamvila@company.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the VillaApartment</span>
            Villa apartment sẽ giúp bạn có nhưng trãi nghiệm tốt nhất về thư giản, giải trí cùng với một dịch vụ hết sức tuyệt vời
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>
<script src="https://kit.fontawesome.com/8c14ed4271.js" crossorigin="anonymous"></script>

